```
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.venv*/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.pyc
*.pyo
*.pyd
.MF
tags
TAGS
.idlerc/
.python-version
.pytest_cache/
.mypy_cache/
.eggs/
egg-info/
.svn/
.wafpickle-*
build/
develop-eggs/
.installed.cfg
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.eggs/
bin/
share/
include/
setup.cfg
.pydevproject
```